h1{
    color:red;
}
h2{
    color:blueviolet;
}
h3{
    color:aliceblue;
}
h4{
    color:aqua;
}
h5{
    color:blanchedalmond
}
h6{
    color: beige;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}